h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
}
button {
    border: dotted;
    color:maroon;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;

}
#img {
    display: flex; 
    flex-aligh: center;
    max-height: 500px;
}